.center-content {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    text-align: center;
}

.name {
    font-family: Arial, sans-serif;
    font-size: 75px;
}

.bold-text {
    font-weight: bold;
}

.bio {
    margin-top: 20px;
    font-size: 18px;
}

.social-icons {
    margin-top: 20px;
    margin-right: 20px;
    display: flex;
    justify-content: center;
}

.social-icons svg {
    font-size: 2.5em;
    margin-right: 10px;
    color: #000;
}

.social-icons svg:hover {
    color: inherit;
}