.body {
    background-image: url('../images/art.jpg');
    margin-top: 100px;
}

.projects-container {
    padding: 50px;
    margin-top: 75px;
    display: flex;
    justify-content: flex-start;
}

.project-boxes {
    display: flex;
    gap: 10px;
    max-width: 100%;
    overflow-x: auto;
}

.project-box {
    background-color: #292929;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    color: #fff;
    cursor: pointer;
    flex: 0 0 300px;
    height: 200px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin: 20px 10px;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

.project-box:hover {
    transform: translateY(-5px);
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.3);
}

.project-box h2 {
    font-size: 1.5rem;
    margin: 10px;
}

.project-box p {
    font-size: 1rem;
    margin: 15px 10px 50px;
    /* top right bottom */
    overflow: hidden;
    text-overflow: ellipsis;
}