.body {
    background-image: url('../images/art.jpg');
    margin-top: 100px;
}

.projects-container {
    padding: 50px;
    margin-top: 75px;
    display: flex;
    flex-wrap: wrap; /* Allow wrapping */
    justify-content: center; /* Center the items */
    gap: 20px; /* Add some gap between rows */
}

.project-boxes {
    display: flex;
    flex-wrap: wrap; /* Ensure flex items wrap */
    gap: 10px;
    width: 100%; /* Ensure the container takes full width */
}

.project-box {
    background-color: #292929;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    color: #fff;
    cursor: pointer;
    flex: 1 1 300px; /* Allow to grow and shrink, with a base width */
    max-width: 300px; /* Prevent from stretching too much */
    height: 200px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin: 10px; /* Adjust the margin for spacing */
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
}

.project-box:hover {
    transform: translateY(-5px);
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.3);
}

.project-box h2 {
    font-size: 1.5rem;
    margin: 10px;
}

.project-box p {
    font-size: 1rem;
    margin: 15px 10px 50px;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Media queries for different screen sizes */
@media (max-width: 1200px) {
    .project-box {
        flex: 1 1 calc(50% - 20px); /* Adjust width for smaller screens */
    }
}

@media (max-width: 768px) {
    .project-box {
        flex: 1 1 calc(100% - 20px); /* Adjust width for mobile screens */
    }
}
