.resume {
    height: 100vh;
    padding: 20px;
    display: flex;
    margin-top: 30px;
    margin-left: 150px;
    justify-content: center;
    align-items: flex-start;
}

.resume-header {
    display: flex;
    flex-direction: column;
    gap: 0px;
}

.left-column {
    flex: 0.9;
    width: 100%;
    margin-right: 20px;
}

.right-column {
    display: flex;
    flex-direction: column;
    height: 70%;
    width: 50%;
    align-items: center;
}

.resume-content {
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 75%;
}

.resume-header-name {
    font-size: 25px;
    height: 100px;
}

.resume-header-email {
    font-size: 20px;
}

.resume-header-email h3 {
    margin: 3px 0;
}

.skills,
.technologies {
    flex: 1;
    width: 30%;
    padding: 20px;
    background-color: #8ec2cf;
    font-size: 20px;
}

.skills h2,
.technologies h2 {
    margin-bottom: 10px;
}

.skills ul,
.technologies ul {
    list-style-type: none;
    padding: 0;
}

.image-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 70px;
    margin-bottom: auto;
}

.download-image {
    max-width: 60%;
    width: auto;
    height: auto;
    transition: transform 0.5s ease;
}

.download-image:hover {
    cursor: pointer;
    transform: scale(1.02);
    align-self: flex-start;
}

.download-button {
    margin-bottom: 10px;
    background-color: black;
    border: 1px solid transparent;
    padding: 10px 20px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, border-color 0.3s ease, color 0.3s ease;
}

.download-button:hover {
    background-color: transparent;
    border-color: black;
    color: black;
}

.resume-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1000;
}

.bloomed-image {
    max-width: 90%;
    max-height: 90%;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.bloomed-image:hover {
    transform: scale(1.05);
}

.hidden {
    display: none;
}