body {
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.resume {
    display: flex;
    margin-top: 100px;
    margin-left: 300px;
    justify-content: center;
    align-items: flex-start;
}

.resume-header {
    display: flex;
    flex-direction: column;
    gap: 0px;
}

.left-column,
.right-column {
    flex: 1;
    max-width: 100%; /* Remove max width restriction */
    padding: 5px;
}

.resume-content {
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 75%;
    min-width: 75%;
}

.resume-header {
    display: flex;
    flex-direction: column;
}
.resume-header-name {
    display: flex;
    flex-direction: column;
    font-size: 24px;

}

.resume-header-email {
    font-size: 20px;
}

.resume-header-email h3 {
    margin: 5px 0;
}

.skills,
.technologies {
    flex: 1;
    width: 35%;
    padding: 20px;
    background-color: #8ec2cf;
    line-height: 1.5em;
    white-space: nowrap;
}

.skills h2,
.technologies h2 {
    margin-bottom: 10px;
}

.skills ul,
.technologies ul {
    list-style-type: none;
    padding: 0;
}

.skills ul li:before,
.technologies ul li:before {
    content: "•"; /* Bullet point character */
    color: #333; /* Bullet point color */
    display: inline-block;
    width: 1em; /* Adjust space between bullet and text */
}
.image-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 48px;
    margin-bottom: auto;
}

.download-image {
    max-width: 55%;
    height: auto;
    transition: transform 0.5s ease;
}

.download-image:hover {
    cursor: pointer;
    transform: scale(1.02);
    align-self: flex-start;
}

.download-button {
    margin-bottom: 10px;
    background-color: black;
    border: 1px solid transparent;
    padding: 10px 20px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, border-color 0.3s ease, color 0.3s ease;
}

.download-button:hover {
    background-color: transparent;
    border-color: black;
    color: black;
}

.resume-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1000;
}

.bloomed-image {
    max-width: 90%;
    max-height: 90%;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.bloomed-image:hover {
    transform: scale(1.05);
}

.hidden {
    display: none;
}

@media only screen and (max-width: 768px) {
    .resume {
        flex-direction: column; /* Stack elements vertically */
        margin-top: 50px; /* Reduced top margin */
        margin-left: 20px; /* Reduced left margin */
        font-size: 2.5vw;
    }
}

/* Tablet styles (optional) */
@media only screen and (min-width: 768px) {
    .left-column,
    .right-column {
        width: 50%; /* Adjust as needed */
        font-size: 1.0vw;
        height: 100%;
    }
}

/* Desktop styles (optional) */
@media only screen and (min-width: 1024px) {
    .left-column {
        max-width: 50%; /* Adjust as needed */
        font-size: 1.0vw;
    }
    .right-column {
        max-width: 50%; /* Adjust as needed */
    }
}
