.resume {
    height: 100vh;
    padding: 20px;
    display: flex;
    margin-top: 100px;
    margin-left: 150px;
    justify-content: center;
    align-items: flex-start;
}

.resume-header {
    display: flex;
    flex-direction: column;
    gap: 0px;
}

.left-column {
    flex: 0.7;
    margin-right: 20px;
}

.right-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.resume-content {
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 20px;
    width: 60%;
}

.resume-header-name {
    font-size: 25px;
    margin-bottom: -5px;
}

.resume-header-email {
    font-size: 20px;
    margin-bottom: 3px;
}

.resume-header-email h3 {
    margin: 3px 0;
}

.skills,
.technologies {
    flex: 1;
    width: 40%;
    padding: 20px;
    background-color: #8ec2cf;
    font-size: 12px;
}

.skills h2,
.technologies h2 {
    margin-bottom: 10px;
}

.skills ul,
.technologies ul {
    list-style-type: none;
    padding: 0;
}

.image-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 60px;
    margin-bottom: auto;
}

.swap-image {
    max-width: 70%;
    width: auto;
    height: auto;
    transition: transform 0.5s ease;
}

.swap-image:hover {
    cursor: pointer;
    transform: scale(1.02);
    align-self: flex-start;
}

.download-button {
    margin-bottom: 10px;
    background-color: black;
    border: 1px solid transparent;
    padding: 10px 20px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, border-color 0.3s ease, color 0.3s ease;
}

.download-button:hover {
    background-color: transparent;
    border-color: black;
    color: black;
}