ul, ol {
    margin: 0px;
    margin-block-start: 0em;
    margin-block-end: 0em;
    padding-inline-start: 0px;
}
.navbar {
    position: absolute; /* Position fixed for persistent placement */
    justify-content: center;
    top: 50px; /* 35 pixels from the top */
    width: 100%; /* Full width of the viewport */
    text-align: center; /* Center align the content inside .navbar */

}
.navbar li {
    display: inline-block;
    margin-left: 15px;
}

.navbar .nav-link {
    text-decoration: none;
    font-weight: bold;
}

.navbar .nav-link {
    display: inline-block;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: #000;
}