ul{
    padding: 0;
    margin: 0;
}
.navbar {
    display: flex;
    position: absolute; /* Change to fixed for persistent placement */
    top: 35px; /* Align it to the top */
    width: 100%; /* Full width of the viewport */
    text-align: center; /* Center align the content inside .navbar */
    justify-content: center;
    z-index: 1000; /* Ensure it is on top */
}

.navbar ul {
    display: flex; /* Use flexbox for the list items */
    margin: 0;
    padding: 0;
    list-style: none; /* Remove default list styling */
}

.navbar li {
    display: inline-block;
    margin: 0 10px; /* Adjust margin for spacing */
}

.navbar .nav-link {
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: #000;
}
