.project-box {
    transform: translateY(20px);
    transition: opacity 0.7s, transform 0.7s;
    pointer-events: auto;
}

.project-box:hover {
    transform: translateY(0) scale(1.05); /* Slightly enlarges the box */
    box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.7); /* Larger, more noticeable shadow */
    background-color: rgba(41, 51, 65, 0.9); /* Slightly brighter background on hover */
}

.project-box.visible {
    opacity: 1;
    transform: translateY(0);
}

.projectsSection {
    position: relative;
    min-height: 100vh;
    padding: 5rem 1rem;
}

.projectsContainer {
    max-width: 72rem;
    margin: 0 auto;
}

.projectsTitle {
    font-size: 2.25rem;
    font-weight: 700;
    color: white;
    margin-bottom: 3rem;
    text-align: center;
}


/* Pre-defined delay classes for the first 20 items */
.project-delay-0 { transition-delay: 0ms; }
.project-delay-1 { transition-delay: 150ms; }
.project-delay-2 { transition-delay: 300ms; }
.project-delay-3 { transition-delay: 450ms; }
.project-delay-4 { transition-delay: 600ms; }
.project-delay-5 { transition-delay: 750ms; }
.project-delay-6 { transition-delay: 900ms; }
.project-delay-7 { transition-delay: 1050ms; }
.project-delay-8 { transition-delay: 1200ms; }
.project-delay-9 { transition-delay: 1350ms; }
.project-delay-10 { transition-delay: 1500ms; }